.boxinputline{
        background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
        width: 500px;
        height: 70px;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
}
.boxinput{
    width: inherit;
    background: #1a1e3b;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin :1px;
   
}

.boxinput input{
    margin-left: 24px;
}

.boxinputlineerror{
    width: 500px;
    height: 70px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    justify-content: stretch; 
    border:1px solid  #FD4646;
}
.boxinputerror{
    width: inherit;
    background: rgba(255, 165, 165, 0.2);
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin :1px;
}
.boxinputerror input{
    margin-left: 24px;
}