.title{
margin-top: 90px;
   
}
.line1,.line2{
    display: flex;
    align-items: center;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 10px;
    background: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
    border-radius: 8px;
    margin-right: 20px;
}

.btn div{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #0A1482;
}
.line3{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: -10px;
}
