 @import url('https://fonts.cdnfonts.com/css/clash-display ');
 @import url('https://fonts.cdnfonts.com/css/inter ');
                

body {
    margin: 0;
    background-color: rgba(10, 14, 39, 1);
    min-width: 1224px;

    background-image: url('./../pages/media/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

* {
    font-family: 'Inter';
    color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 150px;
    line-height: 120%;
    padding: 0;
    margin: 0;

}

h1 {
    font-size: 150px;
   
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

p{
    line-height: 140%;
    font-weight: 400;
}
input{
background-color: transparent;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}
input:focus{
    outline: none;
}
a{
    text-decoration: none;
}